{
    "presets": [
      ["env", {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"],
          "node": "6"
        },
        "useBuiltIns": true
      }]
    ],
    "ignore": [
      "__types__"
    ]
  }
